/* html,
body {
  margin: 0;
  padding: 0;
} */
.container {
    position: absolute;
    color: #cacaca;
    background-color:hsl(222, 26%, 31%);
    width: 357px;
    height: 667px;

}
.boxTop {
    display:flex;
    position: absolute;
    top: 0px;
    background-color:grey;
    width: 357px;
    height:87px;
}
.boxCalc {
  position: absolute;
  top: 87px;
  background-color:rgb(144, 97, 97);
  width: 357px;
  height: 118px;
}
.boxButtons{
  position: absolute;
  top: 205px;
  background-color:rgb(42, 161, 161);
  width: 357px;
  height: 462px;
}
.boxTopCalc{
  width: 40%;
  background-color:rgb(255, 37, 164);
}
.boxTopTheme{
  width: 26%;
  background-color:rgb(113, 37, 255);
}
.boxTopSwitch{
  width: 34%;
  background-color:rgb(37, 150, 255);

}
.boxTopCalc,.boxTopTheme,.boxTopSwitch{
  position: relative;
  display: inline-block;
  overflow: hidden;

  border-color: chartreuse;
  height:87px;

}